<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Hi there</h1>
    <div>
      Best
      <ul class="usersView"></ul>
    </div>
    <form id="userForm" class="container">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          aria-describedby="helpId"
          placeholder=""
        />
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input
          type="number"
          class="form-control"
          name="age"
          id="age"
          aria-describedby="helpId"
          placeholder=""
        />
      </div>
      <div class="mb-3">
        <label for="hobbies" class="form-label">write your hobbies:</label>
        <input
          type="text"
          class="form-control"
          name="hobbies"
          id="hobbies"
          aria-describedby="helpId"
          placeholder=""
        />
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>

    <script>
      const usersView = document.querySelector(".usersView");
      const user = [];

      async function loadUsers() {
        try {
          usersView.innerHTML = "";
          const response = await fetch(`/api/users`);
          const users = await response.json();
          console.log(users);
          users.forEach(proccessUser);
        } catch (e) {
          console.log("error");
          //if reason is client timeout
          // loadUsers();
        }
      }

      function proccessUser(user) {
        const li = document.createElement("li");
        li.innerHTML = JSON.stringify(user);
        usersView.appendChild(li);
        maxId = user.id;
      }

      loadUsers();

      const form = document.getElementById("userForm");
      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        const userData = Object.fromEntries(formData.entries());
        console.log(userData, formData);

        try {
          const response = await fetch("/api/users", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(userData),
          });

          if (!response.ok) {
            throw new Error("Failed to create user");
          }
          loadUsers();
          console.log("User created successfully");
        } catch (error) {
          console.error(error.message);
        }
      });
    </script>
  </body>
</html>
